# ---- Byte-compiled / cache
__pycache__/
*.pyc
*.pyo
*.pyd

# ---- Virtual environments
.venv/
venv/
env/

# ---- OS / file manager junk
.DS_Store
Thumbs.db
desktop.ini

# ---- IDE configs
.vscode/
.idea/

# ---- Pytest / coverage
.coverage
.pytest_cache/
htmlcov/


assets/images/sprites/samurai_sprites/**
assets/images/sprites/enemy_sprites/**

# Keep docs and placeholders
!assets/docs/**
!assets/README_assets.md
!assets/**/.keep
